# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
*.db
db.sqlite3

# Django
*.log
local_settings.py

# Environment variables
.env

# Next.js
.next/
out/
node_modules/
*.tsbuildinfo

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

